* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.2s;
}
html,
body {
  z-index: -15;
  background-color: #faf8ef;
}
.allGame {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    ". . . ."
    ". g g ."
    ". d d ."
    ". . . .";
  z-index: -10;
}
.gameDown {
  grid-area: d;
}
.bigBoxWithArrows {
  grid-area: g;
  display: grid;
  grid-template-areas:
    "t t t"
    "g g g"
    "ar ar ar";
}
.gameTop {
  grid-area: t;
  display: grid;
  grid-template-areas:
    "h1  . . s"
    "htp . . new";
}
/* ^ gameTop - parts*/
h1 {
  grid-area: h1;
}
.scoreboard {
  grid-area: s;
  display: grid;
  gap: 10px;
  grid-template-areas: "score best";
}
.topText {
  grid-area: htp;
}
.restartGame {
  grid-area: new;
}
.bigSquare {
  grid-area: g;
  width: 100%;
}
.allArrows {
  grid-area: ar;
  display: grid;
  grid-template-areas:
    "Aup"
    "arrows";
  width: 100%;
  z-index: 3;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* */
.winLoseB {
  position: absolute;
  left: 100px;
}
/* GameDown */
.gameDown {
  margin-top: 10px;
  width: 355px;
  padding: 20px;
  z-index: 10;
}
